<%- include('./partials/head-partials.ejs') %>

<body>
       <%- include('./partials/nav.ejs') %>

        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Title Blog</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Mark" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content Blog</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
</body>
</html>