<%- include('./partials/head-partials.ejs') %>

<body>
       <%- include('./partials/nav.ejs') %>


        <h1 class="container">
            <% if (data.length > 0) { %>
                <% data.forEach(food => { %>
                    <h1><%= food.title %></h1>
                    <p><%= food.data %></p>
                <% }) %>
            <% } %>
            
        </h1>
</body>

</html>